#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/counter/counter-capture.h>

/ {
	aliases {
		error-led = &red_led;
		readings-display = &display0;
		temp-sensor = &sensor0;
		fan-pwm = &fan0;
	};

	leds {
		red_led: pd5_led {
			gpios = <&gpiod 5 GPIO_ACTIVE_LOW>;
		};
	};

	fan0: arctic_p12max {
		compatible = "fan-pwm";
		pwms = <&pwm3 2 PWM_USEC(40) PWM_POLARITY_NORMAL>;
		counter-captures = <&counter2 1 COUNTER_CAPTURE_RISING_EDGE>;
	};
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";

	display0: ssd1306@3C {
		compatible = "solomon,ssd1306";
		reg = <0x3C>;
		status = "okay";

		height = <64>;
		width = <128>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
	};

	sensor0: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
		status = "okay";
	};
};

&timers2 {

	pwm {
		status = "disabled";
	};

	counter2: counter {
		#counter-capture-cells = <0x2>;
		status = "okay";
		pinctrl-0 = <&tim2_ch2_pa1>;
		pinctrl-names = "default";
	};
};

&timers3 {
	status = "okay";

		pwm3: pwm {
			status = "okay";
			pinctrl-0 = <&tim3_ch2_pa7>;
			pinctrl-names = "default";
		}; 
};
